@model Booking.Dtos.ForgetPassordDto


@{
    ViewData["Title"] = "ForgetPassword";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    .form-gap {
        padding-top: 70px;
    }
</style>
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form autocomplete="off" method="post">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="email" asp-for="Email" placeholder="email address" class="form-control" type="email" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary mt-2">Reset Password</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
