
@{
    ViewData["Title"] = "ForgetPasswordEmailConfirmation";
}

<h1>Forget Password Email Sent</h1>
<p>If Any Account Exists with the Given '@ViewBag.email', then Email Confirmation Link is Sent.</p>
