@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    var name = "Steve Zhang";
    var studentNumber = "101400851";
    var courseCode = "COMP 1239 - asp.net mvc";

}
<?DOCTYPE html>
<html>
<head>
    <title>My personal page</title>
</head>
<body>
    <h1>Welcome to my page</h1>
    <p>Name : @name</p>
    <p>Student Number : @studentNumber</p>
    <p>Course Code : @courseCode</p>
</body>
</html>