@model Booking.Models.HotelBooking
@{
    ViewData["Title"] = "HotelBookingMessage";
}

<h2>
    We are thrilled to confirm your booking 
    for the dates @ViewBag.fromDate to @ViewBag.todate.
</h2>
